@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
.background-image {
    filter: brightness(50%);
}

body {
    font-family: 'Open Sans', sans-serif;
}


@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-slide-down {
    animation: slide-down 0.3s ease-out;
}


